.register {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .enterasguest {
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-top: calc(404px + (100vh - 404px) * 0.5 + 30px);
    width: auto;
    height: 45px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }

    p {
      color: black;
      font-size: 1.02rem;
      font-weight: bold;
    }
  }

  .card {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    height: auto;
    filter: brightness(1);
    border: 1px solid white;
    min-width: 400px;

    @media (max-width: 500px) {
      min-width: 0;
      width: 70%;
    }

    .left {
      width: 50%;
      overflow-x: hidden;
      max-width: 50%;
      background-color: black;
      background-size: cover;
      padding: 50px 50px 30px 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: relative;

      @media (max-width: 1200px) {
        padding-left: 8%;
      }

      @media (max-width: 500px) {
        display: none;
      }

      span {
        font-size: 14px;
        position: absolute;
        left: 50px;
        bottom: 92px;
        width: 170px;
      }

      button {
        width: 35%;
        min-width: 80px;
        padding: 10px;
        border: none;
        background-color: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.8rem;
        border-radius: 7px;
        position: absolute;
        left: 0;
        margin-left: 50px;
        bottom: 40px;

        @media (max-width: 1200px) {
          margin-left: 16%;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .right {
      width: 50%;
      max-width: 50%;
      overflow-x: hidden;
      padding: 50px 50px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1200px) {
        padding-left: 8%;
      }

      @media (max-width: 500px) {
        padding-left: 11%;
      }

      h1 {
        color: black;
        margin-bottom: 23px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        input {
          border: none;
          border-bottom: 1px solid #888;
          padding: 8.5px 4px;
          font-size: 0.8rem;
          outline: none;

          &::placeholder {
            color: #666;
          }
        }

        button {
          margin-top: 10px;
          padding: 10px;
          border: none;
          background-color: black;
          border-radius: 7px;
          cursor: pointer;
          min-width: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          div {
            color: white;
            font-weight: bold;
            font-size: 0.8rem;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }

      p {
        position: absolute;
        bottom: 50px;
        left: 135px;
        width: min-content;
        white-space: nowrap;
        text-decoration: none;
        color: black;
        opacity: 0.85;
        font-size: 14px;
        display: none;
        pointer-events: none;
        padding-bottom: 1px;
        border-bottom: 1px solid black;
        margin-top: 21px;
        padding-right: 0;

        @media (max-width: 500px) {
          display: block;
          pointer-events: all;
        }
      }
    }
  }
}